$color-lightest: #F2E3D5;
$color-lighter: #3CA6A6;
$color-middle: #026773;
$color-darker: #024959;
$color-darkest: #012E40;
$color-darkest-transp: #012e409e;

$size-xxxxl: 13rem;
$size-xxxl: 8rem;
$size-xxl: 5rem;
$size-xl: 3rem;
$size-l: 2rem;
$size-m: 1rem;
$size-s: 0.5rem;
$size-margin-middle: 0.3rem;
$size-margin-small: 0.1rem;
$size-zero : 0rem;
