@import '_reset.scss';
@import '_variables.scss';

body{
    background: $color-lightest;
    color: $color-darker;
    font-size: $size-m;
    font-family: 'Nanum Gothic', sans-serif;
    video{
        min-width: 100%;
    min-height: 100%;
    }
    #start-page{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: $size-zero $size-xxl;
        padding: clamp($size-l, $size-xl, $size-xxl);
        

        #welcome-logo {
            font-size: $size-xl;
            position: sticky;
            text-align: center;
            padding: $size-l;
            #wave-logo{
                color: $color-middle;
            }
            [space-around]{
                margin:$size-s;
            }
            .small-word{
                font-size: $size-m;
                display: inline-block;
            }
        }
        .noselect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        #show-hide-icon{
            cursor: pointer;
            margin: $size-s;
            text-align: center;
            border: 1.8px solid $color-darker;
            border-radius: 4px;
            padding: clamp($size-margin-small, $size-s, $size-m) clamp($size-s, $size-xl, $size-xxl);
        }
        #show-hide-icon:hover{
            color: lighten($color-middle,7%);
        }
        .message-box{
            text-align: center;
            border: 1.8px solid $color-darker;
            padding: $size-s;
        }
        .forms{
            justify-content: center;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            gap: $size-l;
            row-gap: $size-m;
            text-align: center;
        }
        form{
            grid-column-start: 1;
            grid-column-end: 2;
            text-align: center;
            justify-content: center;
            display: grid;
            
            grid-template-columns: auto;
            *{
                margin: $size-margin-small;
            }
        }
        input[type=button]{
            border: none;
            text-align: center;
            text-decoration: none;
            background-color: $color-middle;
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
            padding: $size-s;
            border-radius: 4px;
            width: $size-xxxxl;
            margin: $size-s;
            align-self: center;
            color: $color-lightest;
        }
        input[type=button]:hover, input[type=button]:active{
            background: lighten($color-middle,7%);
        }
    }
    #ocean-msg-box{
        display: fixed;
        position: relative;
        background:  $color-darker;
        color: $color-lightest;
        box-shadow: 0px 0px 12px -2px rgba(232, 235, 236, 0.5);
        width: 100%;
        text-align: center;
        padding: $size-s;
        word-wrap: break-word;
    }
    // #js-msg-text{
    //     position: absolute;
    // }
    #main-ocean-container{
        
        *{
            // border: 1.8px solid $color-darker;
        }
        img{
            position: static;
        }
        #videos-container{
            //should be video after
            // @media screen and (orientation:portrait) { 
            //     #small-video-container{
            //         width: 20%;
            //     }
            // }
            // @media screen and (orientation:landscape) { 
            //     #small-video-container{
            //         height: 20%;
            //         width: 20%;
            //     }
            // }
            img, video{
                transform: scaleX(-1);
                // margin-left: -%;
            }
            #big-videos-container{
                position: relative;
                // width: auto;
                // height: auto;
                // overflow: hidden;
                display: flex;
                
                flex-wrap: wrap;
                justify-content: space-evenly;
                *{
                    border: 1.8px solid $color-darkest;
                }
            }
            #small-video-container{
                position: absolute;
                display: grid;
                border: 1.8px solid $color-darkest;
                box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
                // top: 80px;
                right: 0;
                //PROBLEMATIC
                // width: 20%;
                // height: 20%;
                // transform: translateY(20%);
                overflow:hidden;
                right: $size-m;
                bottom: $size-xxl;
            }
            div[orientsmall-landscape]{
                // height: 20%;
                width: 50%;
                // border: 20px solid $color-darkest;
            }
            div[orientsmall-portrait]{
                    // width: 20%;
                    height: 20%;
                    // border: 20px solid $color-darkest;
                
            }
            
            // div[orientBigVC=landscape]{
              
            // }
            // div[orientBigVC=portrait]{
            // }
        }
        @media (orientation: landscape) {
            #control-panel-container{
                i{
                    font-size: $size-l;
                }
            }
            // #small-video-container{
            //     bottom: $size-xl;
            // }
          }
          @media (orientation: portrait) {
             #control-panel-container{
                 i{
                    font-size: $size-m;
                 }
             }
            //  #small-video-container{
            //     bottom: $size-xxl;
            // }
          }
        #control-panel-container{
            display: flex;
            flex-direction: row;
            position: fixed;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            background: $color-darkest;
            bottom: 0;
            width: 100%;
            text-align: center;
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
            i{
                color: $color-lightest;
                // font-size: clamp($size-m, $size-xl, $size-xxl);
                padding: 1rem;
            
            }
            i:hover{
                color: lighten($color-lightest,7%);
                cursor: pointer;
            }
        }
    }
}
