video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
    /* margin-left: auto;
    margin-right: auto;
    display: block;
  
    height: 100%; 
    width: 100%; */
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
    
}
#remoteVideoDIV{
    /* height: 100vh;
    width: 100vw; */
    transform: rotateY(180deg);
    /* object-fit: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
#remoteVideoDIV :fullscreen{
    /* height: 100vh; */
 
}

/* Safari */
:-webkit-full-screen {
    height: 100%;
    width: 100%;
    transform: rotateY(180deg) !important;
    -webkit-transform: rotateY(180deg) !important;
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg) !important;
    /* Firefox */
}

/* IE11 */
:-ms-fullscreen {

    transform: rotateY(180deg) !important;
    -webkit-transform: rotateY(180deg) !important;
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg) !important;
    /* Firefox */
}

/* Standard syntax */
:fullscreen {
    transform: rotateY(180deg) !important;
    -webkit-transform: rotateY(180deg) !important;
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg) !important;
    /* Firefox */
}